*{
	text-align: center;
}

body{
	background-color: black;
	overflow: hidden;
	height: 100%;
}

canvas {
	width: 100%;
}

.container {
	padding: 0 10%;

}

.wall {
	border:2px solid blue;
	padding: 10px;

}
